.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1; /* Cho phép nội dung chính chiếm hết không gian còn lại */
}

.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Đẩy footer xuống cuối trang */
  font-size: 0.9rem;
  border-top: 1px solid #333;
}

.footer p {
  margin: 5px 0;
}
